$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

@import 'box-sizing';
@import 'variables';

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: $brand-gray;
  overflow: auto;
}

ul {
  list-style: none;
  margin-left: 0;
}

.container {
  width: 100%;
  margin: auto;
}

.content {
  padding: $gutter;
  background: $tang;
}

.page-title {
  text-align: center;
  color: $brand-white;
}

.app-title {
  color: $brand-white;
}

.stuff {
  margin: 0.5rem;
}

.nav__item {
  color: $brand-white;
  text-decoration: none;
}

.new-btn {
  font-size: $gutter;
  text-decoration: none;
  color: $brand-white;
  background: $green;
  padding: 0.5rem $gutter;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.delete-btn {
  font-size: $gutter;
  text-transform: uppercase;
  border: none;
  color: $brand-white;
  background: $red;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0rem;
}

.edit-btn {
  font-size: $gutter;
  text-decoration: none;
  color: $brand-white;
  background: $blue;
  margin-right: 0.5rem;
  padding: 0.5rem $gutter;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.submit {
  font-size: $gutter;
  text-decoration: none;
  color: $brand-white;
  background: $brand-gray;
  padding: 0.5rem $gutter;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.todo-group__title {
  margin: $gutter;
}

.collection__item {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $light-gray;
  margin: $gutter;
  border-radius: 0;
  margin-left: 5%;
}

.top-stuff {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

.cat {
  color: $brand-black;
  margin: 0;
}
