<div class="section">
  <div class="container">
    <div class="content">
      <h2 class="page-title">Edit</h2>
      {{#link-to "todo-groups.new" class="edit-btn" }}Edit{{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
