<div class="top-container">
  <div class="top-container__inner">
    <div class="hamburger">E</div>
    <h2 class="top-title">Todos</h2>
    <nav class="top-nav">
      <nav class="top-nav__item active-page">todo 1</nav>
      <nav class="top-nav__item">todo 2</nav>
      <nav class="top-nav__item">todo 3</nav>
      <nav class="top-nav__item new">New Todo!</nav>
    </nav>
  </div>
</div>




<div class="section">
  <div class="container">
    <div class="content">
      <h2 class="page-title">Categories</h2>

      {{#link-to "todo-groups.new" class="new-link" }}Dynamic Operations Supervisor{{/link-to}}

      {{#each model as |item|}}
        <div class="collection__item">
          <div class="todo-group__title">
            {{item.title}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{outlet}}
